@model BulkSMSWebApp.Models.Contacto

@{
    ViewBag.Title = "Activar";
}

<h2>Activar</h2>

<h3>¿Confirma que desea Activar el Registro Seleccionado?</h3>
<div>
    <h4>Contacto</h4>
    <hr />
   
    @Html.Partial("_DeleteDetail", Model)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-success" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
