@{
    ViewBag.Title = "Página de Inicio";
}

<div class="col-lg-12 col-lg-offset-0">
    @*<img src="~/Images/sms.png" class="img-responsive"/>*@
</div>




<div class="col-md-12">

    <img src="~/Images/Banner App.png" class="img-responsive" style="height:200px;"/>

</div>
<hr />
<div class="row col-md-12">
    <div class="col-md-3">
        
        <h2 class="text-center">Contactos</h2>
        <p class="text-center"><span class="fa fa-5x fa-user"></span></p>
       
        <p style="text-align:justify"><br />
            Éste módulo te permite la adminstración de los contactos. Puedes crear nuevos contactos, ver la lista de contactos registrados en la base de datos y si eres usuario
            Administrador también puedes dar de baja a determinados contactos.
        </p>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Grupos</h2>
        <p class="text-center"><span class="fa fa-5x fa-object-group"></span></p>

        <p style="text-align:justify">
            <br />
            Éste módulo te permite la adminstración de los grupos de ontactos. Puedes crear nuevos grupos, ver la lista de grupos registrados en la base de datos y los contactos registrados
            en dicho grupo, de igual manera, si eres usuario
            Administrador también puedes dar de baja a determinados grupos.
        </p>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Mensajes</h2>
        <p class="text-center"><span class="fa fa-5x fa-envelope"></span></p>

        <p style="text-align:justify">
            <br />
            Éste módulo te permite la gestion de mensajes. Puedes enviar mensajes a un contacto o a un grupo de contactos, puedes ver la lista de 
            mensajes tanto enviados como recibidos y eliminados y si eres un usuario Administrador puedes dar de baja a cualquier mensaje que desees.
        </p>
    </div>
    <div class="col-md-3">
        <h2 class="text-center">Usuarios</h2>
        <p class="text-center"><span class="fa fa-5x fa-users"></span></p>

        <p style="text-align:justify">
            <br />
            Éste módulo es específicamente para el usuario Administrador. permite la gestion de los usuarios de la aplicación, puedes crear nuevos usuarios,
            ver la lista de los usuarios registrados, dar de baja a cualquier usuario o bien, darle alta nuevamente a un usuario inactivo.
        </p>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
}*@
