@using BulkSMSWebApp.Helpers
@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey)
                ? (List<Alert>)TempData[Alert.TempDataKey]
                : new List<Alert>();

    if (alerts.Any())
    {
        @*<hr />*@
    }

    foreach (var alert in alerts)
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div id="success-alert" class="alert alert-@alert.AlertStyle @dismissableClass text-center">
            @if (alert.Dismissable)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            }
            <span class="fa @alert.alertIcon"> @Html.Raw(@alert.Message) </span>
        </div>
    }
}
