<img src="~/Images/Header.png" class="img-responsive" width="100%" />
<div class="navbar navbar-default" role="navigation">
 
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       

        <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> Plataforma SMS</span></a>
    </div>
    @using Microsoft.AspNet.Identity
    <div class="navbar-collapse collapse" style="height: 1px;">
      
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            @Html.Partial("_LoginPartial")
            @*<li class="dropdown col-xs-12">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> Welcome 
                    <i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu">
  
                
                    <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                </ul>
            </li>*@
        </ul>

    </div>
</div>