@model IEnumerable<BulkSMSWebApp.Models.Grupo>
@using BulkSMSWebApp.Helpers;
@{
    ViewBag.Title = "Grupos Registrados";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<script>

    function mensajeAlerta(accion)
    {
        switch (accion)
        {
            case "Editar":
                $('#LoadingDiv h5').remove();
                $('#LoadingDiv').append('<h5>  <span class="fa fa-info-circle"> </span> Por favor espere mientras se cargan los datos </h5>')
                break;

            case "MostrarC":
                $('#LoadingDiv h5').remove();
                $('#LoadingDiv').append('<h5>  <span class="fa fa-info-circle"> </span> Por favor espere mientras se cargan los contactos del grupo seleccionado </h5>')
                break;

            case "EditSuccess":
                $('#agregarContactos').modal('hide');
                $('#succesDiv h5').remove();
                $('#succesDiv').append(' <h5>  <span class="fa fa-check">  </span> Los Cambios se guardaron Correctamente </h5>')
                $('#succesDiv').show();
                $("#succesDiv").fadeTo(3000, 400).slideUp(400, function () {
                    $("#succesDiv").hide();
                });
                break;

            case "DeleteSuccess":
                $('#DivExito h5').remove();
                $('#DivExito img').remove();
                $('#DivExito').append('<h5>  <span class="fa fa-check">  </span> Contactos Eliminados Correctamente </h5>')
                $('#DivExito').show();
                $("#DivExito").fadeTo(3000, 400).slideUp(400, function () {
                    $("#DivExito").hide();
                });
                break;
        }
        
    }

    function limpiar() {
        $("#tablaContactos").empty();
    }

    function applyDatatable() {
        document.location = "#tablaContactos";
    }

    function mostrarModal() {
        $('#agregarContactos').modal('show');
    }

    $(function () {

        var table = $('#MyTable').dataTable({
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "Todos"]]
        });

        var tabla = $('#MyTable').DataTable()
        var allRows = table.fnGetNodes();

        $('#MyTable').delegate(".selected", "click", function () {
            for (var i = 0; i < allRows.length; i++) {
                tabla.rows('.success').nodes().to$().removeClass('success');
            }
            $(this).parents('tr').addClass('success');
        });

    });
</script>

<div id="succesDiv" class="alert alert-info alert-dismissable text-center" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
</div>

<div id="LoadingDiv" class="alert alert-info alert-dismissable text-center" style="display:none">

    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <img src="~/Images/spiffygif_32x32.gif" />
</div>

<p>
    <a href="@Url.Action("Create", "Grupo")" class="btn btn-info" style="width:200px;">
        Nuevo Grupo
        <span class="fa fa-plus-circle"></span>
    </a>
</p>
<br />


<div class="table-responsive">

    <div id="TablaIndex">

        @Html.Partial("_IndexPartialView", Model)
        <br />

    </div>

</div>



<hr />



<div class="table-responsive" id="tablaContactos">

</div>


@*@{Html.RenderPartial("_AgregarContactos");}*@